:root {
  --primary: #f0f5f9;
  --secondary: #c9d6df;
  --tertiary: #52616b;
  --accent: #1e2022;
  --darkblue: #3f72af;
  --lightblue: #769fcd;
  --blueshade: #7882a4;
  --lime: #f9faf4;
  /* Pallate 1 */
  --orange: #f9a66c;
  --yellow: #ffc94b;
  --palered: #f17a7e;
  /* Pallate 2 */
  --ocean: #6daffe;
  --paleblue: #edf6ff;
  --brown: #89732f;
}

/***************** REUSEABLE ******************** */
* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display";
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::before, *::after {
  box-sizing: border-box;
}
body {
  background-color: var(--paleblue);
  min-height: 100vh;
  font-family: "Playfair Display", serif;
  margin: 0;
}
/* snap scroller? */

section {
  scroll-snap-align: start;
}
h1 {
  font-size: 6em;
  color: var(--lightblue);
}
h2 {
  text-shadow: 4px 3px 0px #c9d6df;
  margin: 4px, 0;
  color: var(--blueshade);
  text-align: center;
}
h3 {
  margin: 4px, 0;
  color: var(--tertiary);
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  color: var(--tertiary);
}
i {
  color: var(--darkblue);
  font-size: 3rem;
}
i {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

i:hover,
i:focus,
i:active {
  transform: scale(1.1);
}
/******************* HEADER *********************/
header {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 5px 50px rba(0, 0, 0, 0.08);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  padding: 0.5rem 3rem;
}
.logo {
  width: 50px;
  height: auto;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 5px;
}
.logo-container {
display: flex;
justify-content: center;
align-items: center;
margin-left: 10px;
font-size: 17px;
}
.logo-container a {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  color: #12334e;
  text-decoration: none;
}
.logo-container a:hover {
  color: var(--primary);

}
#navbar {
  text-align: end;
  height: 60;
  right: 60px;
}

#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  color: #12334e;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 15px;
  letter-spacing: 2px;
}
#navbar ul li a:hover {
  color: var(--primary);
  /* background: #dbe2ef; */
}



/***************** HOME ******************** */
.home-container {
  margin: auto;
  margin-bottom: 200px;
  width: 50%;
  padding: 20px 70px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}
#home h2 {
  font-size: 30px;
  margin-top: 0;
}
/***************** HOME BUTTONS ******************** */
.home__buttons {
  margin: 1em;
  display: flex;
  justify-content: center;
}
.resume__button {
  margin: 13px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  border: #3f72af 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: #3f72af;
  position: relative;
  transition: background-color 100ms linear;
}

.resume__button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #eee;
  top: 150%;
  left: 0;
  width: 100%;
  height: 100%;

  /* must use perspective first before using rotation */

  transform: perspective(1em) rotateX(40deg) scale(1, 0.5);
  filter: blur(0.9em);
  opacity: 0.7;
}
.resume__button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0.4em var(--lightblue);
  opacity: 0;
  transition: opacity 100ms linear;
}
.resume__button:hover,
.resume__button:focus {
  color: #3f72af;
  text-shadow: none;
  background: #dbe2ef;
}
.resume__button:hover::before,
.resume__button:focus::before {
  opacity: 1;
}
.resume__button:hover::after,
.resume__button:focus::after {
  opacity: 1;
}
.projects__button {
  margin: 13px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  border: #3f72af 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: #3f72af;
  position: relative;
  transition: background-color 100ms linear;
}

.projects__button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #eee;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  /* must use perspective first before using rotation */
  transform: perspective(1em) rotateX(40deg) scale(1, 0.5);
  filter: blur(0.9em);
  opacity: 0.7;
}
.projects__button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0.4em var(--lightblue);
  opacity: 0;
  transition: opacity 100ms linear;
}
.projects__button:hover,
.projects__button:focus {
  color: #3f72af;
  text-shadow: none;
  background: #dbe2ef;
}
.projects__button:hover::before,
.projects__button:focus::before {
  opacity: 1;
}
.projects__button:hover::after,
.projects__button:focus::after {
  opacity: 1;
}
.uglymug {
  width: 280px;
  height: auto;
}
/***************** ABOUT ME ******************** */
.about-container {
  height: auto;
  background-color: var(--paleblue);
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 250px;
}
#about {
  width: 100%;
  
}
.profile {
  width: 70%;
  margin-left: 60px;
}

#about h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.intro {
  font-size: 20px;
  margin: 20px;
}

/***************** SKILLS ******************** */

.skill-title > h2{
  font-size: 100px;
  margin-top: 80px;

}

.skills__content {
  background-color: var(--lightblue);
  padding: 1rem;
  border-radius: 1.25rem;
  width: 50%;

}

.skill_text {
  color: #edf6ff;
  padding: 10px 10px;
  font-size: 25px;
  text-shadow: 4px 3px 0px #7a7a7a;
}
.skill_text:hover {
  color: var(--ocean);
}
.skills__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 45px;
}
.skill_icon {
  display: flex;
  align-items: center;
}
.skill_row {
  padding-top: 10px;
}
.project__box h4 {
  text-decoration: bold;
}
/***************** PROJECTS ******************** */
#projects {
  display: flex;
  justify-content: center;;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 150px;
}

#projects1 {
  display: flex;
  justify-content: center;;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

#projects1 h2 {
  font-size: 40px;
}
#projects h3 {
  font-size: 30px;
}

#slider{
width:75%;
margin:0px auto;
margin-top: 10px;
position:relative;
overflow:hidden;
border: 10px solid white;
box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
}

.slide{
width:100%;
display:none;
animation-name:fade;
animation-duration:1s;
}
img{
width:100%;
}
@keyframes fade{
from{opacity:0.5;}
to{opacity:1;}
}
.controls{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:1.5em;
padding:15px 10px;
border-radius:5px;
}

.controls:hover{
background:rgb(139, 193, 255);
transition:0.3s;
}

.controls:active{
color:rgb(139, 193, 255);
}

#left-arrow{
left:10px;
}

#right-arrow{
right:10px;
}

#dots-con{
text-align:center;
display: none;
}
.dot{
display:inline-block;
background:grey;
padding:8px;
border-radius:50%;
margin:10px 5px;
}

.active{
background:rgb(93, 139, 255);
}

@media (max-width:576px){
#slider{width:100%;

}

.controls{
  font-size:1em;
}

#dots-con{
  display:none;
}
}
.projects-container {
  display: flex;
  align-content: space-between;
}
.project__img {
  max-width: 100%;
  height: auto;
}
.project__box {
  width: 80%;
  background-color: white;
  margin: 20px 10px;
  row-gap: 2.5rem;
  border: 1px solid #ccc;
  transition: box-shadow .3s;
}
.project__box:hover{
  box-shadow: 0 0 25px rgba(33,33,33,.2); }


.project_items {
  text-align: center;
  padding: 5px 20px;
}

.projects__description {
  color: #12334e;
  padding: 20px;
}
/***************** CONTACTS ******************** */
#contact {
  padding-top: 50px;
  padding-bottom: 110px;
  background-color: #769fcd;
}
#contact h2 {
  color: #ffffff;
  text-shadow: 4px 3px 0px #7a7a7a;
  padding-top: 80px;
  margin-left: 10px;
  font-size: 50px;
}
#footer {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
}

.footer_link {
  padding: 10px 10px;
}

.footer_text {
  padding: 2px 10px;
  color: #ffffff;
  text-shadow: 4px 3px 0px #7a7a7a;
}

/***************** RESPONSIVE ******************** */

@media (min-width: 200px) and (max-width: 768px) {
  h1 {
    font-size: 5em;
    display: flex;
    justify-content: center;
  }
  #navbar {
  display: none;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    width:100%;
  }
  .about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  } 
  .projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } 
  .home-container {
    margin-bottom: 70px;
    align-items: center;
    width: 100%;
  }
  .profile {
    margin-left:0;
    text-align: center;
  }
  .skills__container {
    margin-right: 0;;
  } 
  .slider {
    width: 90%;
  }
    .project__box {
    width:90%;
    height: auto;
  }
  .projects__description {
    font-size: 20px;
  } 
  #footer {
    font-size: 20px;
  }
}




